backend/dist
.env
.DS_Store
/backend/node_modules
/backend/.cache
.cache
build

yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
backend/package-lock.json
backend/yarn.lock
medusa-db.sql
backend/build
backend/.cache

backend/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
